.definition {
  position: fixed;
  z-index: 1;
  padding: 1.5rem;
  background: #eee;
  transition: all 0.2s ease-in;
}

.inactive {
  opacity: 0;
}

.active {
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
